<footer class="bg-gray-100">
    <div class="w-[70%] mx-auto py-4 flex flex-row justify-between">

        <div class="w-[30%] mt-4">
            <img src="assets/images/footer/Group.svg" alt="">
            <p class="mt-2">© 2024 Swiggy Limited</p>
        </div>
        <div class="leading-8 w-[15%]">
            <h2 class="text-lg font-bold">Company</h2>
            <ul class="text-md font-extralight leading-8">
                <li>About Us</li>
                <li>Swiggy Corporate</li>
                <li>Careers</li>
                <li>Team</li>
                <li>Swiggy One</li>
                <li>Swiggy Instamart</li>
                <li>Swiggy Dineout</li>
                <li>Swiggy Genie</li>
                <li>Minis</li>
            </ul>
        </div>
        <div class="leading-8 w-[15%]">
            <h2 class="text-lg font-bold">Contact</h2>
            <ul class="text-md font-extralight font-[Gilroy] leading-8">
                <li>Help & Support</li>
                <li>Partner with us</li>
                <li>Ride with us</li>
            </ul>
            <h2 class="text-lg font-bold mt-8">Legal</h2>
            <ul class="text-md font-extralight leading-8">
                <li>Terms & Conditions</li>
                <li>Cookie Policy</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="leading-8 w-[15%]">
            <h2 class="text-lg font-bold">Available in:</h2>
            <ul class="font-light text-sm text-gray-700 leading-8">
                <li>Bangalore</li>
                <li>Gurgaon</li>
                <li>Hyderabad</li>
                <li>Delhi</li>
                <li>Mumbai</li>
                <li>Pune</li>

            </ul>
        </div>
        <div class="leading-8 w-[15%]">
            <h2 class="text-lg font-bold">Life at Swiggy</h2>
            <ul class="text-md font-extralight leading-8">
                <li>Explore with Swiggy</li>
                <li>Swiggy News</li>
                <li>Snackables</li>
            </ul>

            <h2 class="text-lg font-bold mt-8">Social Links</h2>

        </div>
    </div>
    <hr class="w-[90%] border-black m-auto">
    <div class="flex w-[70%] mx-auto my-4 py-8 justify-between">
        <span class="text-2xl font-bold text-gray-700 pt-4">For better experience, download the Swiggy app now</span>
        <img src="assets/images/footer/icon-AppStore.png" alt="AppStore" class="hover:scale-110 duration-300">
        <img src="assets/images/footer/icon-GooglePlay.png" alt="GooglePlay" class="hover:scale-110 duration-300">
    </div>

</footer>